*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: $font-family;
  color: $color-font-light;
  background: $color-main;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(desktop-small) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 44%; // 1rem = 7px
  }
  @include respond(phone) {
    font-size: 37%; // 1rem = 6px
  }
}

img {
  height: 60%;
  padding: 6px;
  border-radius: 10px;
}
h3 {
  font-size: $header-h3;
  text-align: center;

  @include respond(desktop-small) {
    // font-size: 50%; // 1rem = 8px
  }
  @include respond(tab-port) {
    font-size: $header-h4;
  }
  @include respond(phone) {
    font-size: $font-big;
  }
}

i {
  font-size: $header-h2;
  padding: 2px 5px;
  margin: 0 8px;
  cursor: pointer;
  color: $color-font-light;
  transition: all 0.5s ease-in;
}

i:hover {
  color: $color-alt;
  transform: scale(1.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: $color-second;
  width: 10rem;
  height: 40rem;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  margin: 5px 15px;
  flex: 1 0 21%;
}

.pagination {
  margin: 2rem;
  padding: 1rem;
}

.btn {
  display: inline-block;
  outline: none;
  background: none;
  border: none;
  padding: 2rem;
  margin: 0 4rem;
  transition: all 0.5s;
  color: $color-font-light;
  border-radius: 5px;
  width: 10rem;
  height: 5rem;
  backdrop-filter: blur(2px);
  background-color: $color-btn;
}
.btn:hover {
  cursor: pointer;
  background-color: $color-alt;
  backdrop-filter: blur(2px);
  transform: scale(1.1);
}

/* helper classes */
.low {
  background: linear-gradient(to bottom right, $color-low, $color-alt-opa);
}
.med {
  background: linear-gradient(to bottom right, $color-med, $color-alt-opa);
}
.good {
  background: linear-gradient(to bottom right, $color-good, $color-alt-opa);
}
.best {
  background: linear-gradient(to bottom right, $color-best, $color-alt-opa);
}
