.movies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 10px auto;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
